# BEGIN REQUIRED HEADERS FOR SHAREDARRAYBUFFER
<IfModule mod_headers.c>
  Header set Cross-Origin-Opener-Policy "same-origin"
  Header set Cross-Origin-Embedder-Policy "credentialless"
</IfModule>
# END REQUIRED HEADERS

# Anweisung zum Setzen des korrekten MIME-Typs für .wasm-Dateien
<IfModule mod_mime.c>
  AddType application/wasm .wasm
</IfModule>

# BEGIN SPA REDIRECT RULES
# Эти правила перенаправляют все запросы на index.html, 
# если запрашиваемый файл или папка не существуют.
<IfModule mod_rewrite.c>
  RewriteEngine On
  # Если это не папка
  RewriteCond %{REQUEST_FILENAME} !-d
  # Если это не файл
  RewriteCond %{REQUEST_FILENAME} !-f
  # Перенаправить на index.html
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
# END SPA REDIRECT RULES